<a href="https://colab.research.google.com/github/kim-juhyeon/Practical-Time-Series-Analysis/blob/master/%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%84%EC%B2%98%EB%A6%AC_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 이동평균 모델
> 여러 다른 과거의 시간에 발생한 독립적인 사건이 과정의 현재값에 영향을 미친다는 개념이 중요
>> 평균과 분산 모두 파라미터 값에 상관없이 시간에 따라 일정한 값을 가짐

### 데이터를 '슬라이딩'할 수 있는 방식의 전처리
> 모델의 향상된 정확성 결과로 이어질지도 모른다. 그러나
- 중첩 데이터에 대해 이러한 전처리 작업을 여러 번 수행하려면 계산 작업이 많이 필요함
- 약간 다른 전처리에 의한 중첩 데이터를 여러 번 저장할 필요가 있습니다.
- 데이터에 대한 슬라이딩 윈도의 최적의 이점을 얻을 수 없습니다.

### 전체 대신 일부 데이터가 더 나은 상황
- 데이터는 오래되면 오래될수록 중요도가 떨어짐
- 모델을 훈련시키는 데 사용될 데이터의 양을 줄이는 여러가지 방법을 알아보자

<br>

1. 다운 샘플링 <- 모델 훈련에 최근 데이터만 사용하기. 최근 데이터에만 초점을 맞춰도 더 좋은 성능을 보여주는 통계적 또는 딥러닝 기법이 적용된 시계열 모델이 많이 있음</br>


2. 예측에 사용되는 과거의 윈도 크기 줄이기 <- 반드시 필요한 성능의 허용치가 필요한 것보다 훨씬 더 많은 데이터를 메모리에 적재하고 있을지도 모릅니다.

### 누락된 데이터 채우기, 다운샘플링

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

1. 가중함수를 이용해 값을 정교하게 데이터를 만듬

In [2]:
import pandas as pd
air = pd.read_csv("/content/drive/MyDrive/BookRepo/Ch02/data/AirPassengers.csv", names=['Date', 'Passengers'])
air

        Date  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [3]:
air['Smooth.5'] = air.ewm(alpha = .5).Passengers.mean()
# ewm 은 지수가중함수 입니다. 지수가중함수는 오래된 데이터에 지수감쇠를 적용하여 최근 데이터가 더 큰 영향을 끼지도록 가중치를 주는 함수입니다.
#보통 추가 메서드로 mean() 을 사용해서 지수가중평균으로 사용합니다.
air['Smooth.9'] = air.ewm(alpha = .9).Passengers.mean() # alpha가 클수록 더 큰 변화에 민감하며, alpha가 작을수록 평활한 그래프가 생성됩니다.

In [4]:
air # 지수가중함수 :

        Date  Passengers    Smooth.5    Smooth.9
0    1949-01         112  112.000000  112.000000
1    1949-02         118  116.000000  117.454545
2    1949-03         132  125.142857  130.558559
3    1949-04         129  127.200000  129.155716
4    1949-05         121  124.000000  121.815498
..       ...         ...         ...         ...
139  1960-08         606  582.096411  606.665454
140  1960-09         508  545.048205  517.866545
141  1960-10         461  503.024103  466.686655
142  1960-11         390  446.512051  397.668665
143  1960-12         432  439.256026  428.566867

[144 rows x 4 columns]

2. https://ordo.tistory.com/67 <- 롤링
- 모든 날짜의 순서를 생성이 기ㅏ능하며 데이터셋에 누락된 값을 NA로도 채울 수 있음

3. 퍼워드 필
- https://yingqusp.com/so/python/1592141
- 누락된 값이 나타나기 직전의 값으로 누락된 값을 채우는 가장 간단한 방법
- 데이터의 시간대를 내려가는 단순한 상황 -> 이미 기록된 데이터 외에 확신할 수 있는 것이 없습니다.
4. 이동평균
- 롤링 평균 또는 중압값으로도 데이터를 대치할 수 있음
- 데이터의 대치에 필보다 이동평균이 더 적합한 상황이 많습니다.