<a href="https://colab.research.google.com/github/kim-juhyeon/Practical-Time-Series-Analysis/blob/master/Ch02/2%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
filename = '/content/drive/MyDrive/BookRepo/Ch02/data/emails.csv'

data = pd.read_csv(filename)
data.head()

   user                 week  emailsOpened
0   0.0  2018-04-02 00:00:00           2.0
1   0.0  2018-04-09 00:00:00           2.0
2   0.0  2018-04-16 00:00:00           1.0
3   0.0  2018-04-23 00:00:00           2.0
4   1.0  2017-10-09 00:00:00           3.0

In [ ]:
YearJoined = pd.read_csv("/content/drive/MyDrive/BookRepo/Ch02/data/year_joined.csv")
YearJoined

     user userStats  yearJoined
0       0    silver        2014
1       1    silver        2015
2       2    silver        2016
3       3    bronze        2018
4       4    silver        2018
..    ...       ...         ...
995   995    bronze        2016
996   996    bronze        2018
997   997    bronze        2018
998   998    bronze        2017
999   999    silver        2014

[1000 rows x 3 columns]

In [ ]:
YearJoined.groupby('user').count().groupby('userStats').count()

           yearJoined
userStats
1                1000

In [ ]:
zdfsdfs